.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 4rem;
}
.category-title {
  font-size: 28px;
  margin-bottom: 25px;
  text-align: center;
}
